@use './variables' as *;
%btn-shared {
	display: inline-block;
	padding: 0.8rem 2rem;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s;
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.2px;
	border-radius: 2rem;
}
//buttons
.btn {
	&-primary {
		@extend %btn-shared;
		background: $bright-red;
		color: $white;
		box-shadow: rgba(242, 95, 58, 0.3) 0px 15px 25px,
			rgba(0, 0, 0, 0.05) 0px 5px 10px;
		&:hover {
			opacity: 0.8;
		}
	}
	&-light {
		@extend %btn-shared;
		background: $light-gray;
		color: $bright-red;
		&:hover {
			color: hsl(12, 88%, 59%);
		}
	}
}
